[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

*.rsuser
*.suo
*.user
*.userosscache
*.tooling

_ReSharper*/
*.ReSharper
*.DotSettings.user

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
TheWatcher.db3  

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride
._*

*.log
TestResults/

/Publish/
/Releases/

appsettings.Development.json
appsettings.local.json