@inherits LayoutComponentBase

<div class="flex bg-gray-50 min-h-screen">
    
    <div class="flex-none w-[15rem] border-r-2 border-black bg-white">
        <NavMenu />
    </div>

    <main class="flex-1 p-8 lg:p-16">
        
        <article class=" pt-10">
            @Body
        </article>
        
    </main>
</div>